ul.nav.nav-pills.nav-fill.d-flex.flex-nowrap.justify-content-around.mb-2
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='sponsers' && 'active'}` href=`/admin/module-management/second-opinion/new-sponser-requests`) Sponsers
    //- li.nav-item
    //-     a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='medicines' && 'active'}` href=`./medicines`) Medicines 