ul.nav.nav-pills.nav-fill.d-flex.flex-nowrap.justify-content-around.mb-2
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='blog-categories' && 'active'}` href=`./blog-categories`) Blogs Categories
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='blogs' && 'active'}` href=`./blogs`) Blogs 
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='videos-categore' && 'active'}` href=`./video-categories`) Videos Categories
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='videos' && 'active'}` href=`./videos`) Videos 