ul.nav.nav-pills.nav-fill.d-flex.flex-nowrap.justify-content-around.mb-2
    li.nav-item
        a.nav-link.vendor-manange-nav.text-uppercase(aria-current='page' class=`${activeList==='doctor-categories' && 'active'}` href=`./doctor-categories`) Doctor Categories